
.receita__botao {
    background-color: rgb(85, 10, 10);
    border: none;
    border-radius: 5px;
    color: white;  
    padding: 1rem;
    transition: all .1s ease-in-out;
}

main > section > div > div > button :hover{
    background-color: #b37777;
    cursor: pointer;
}